*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@supports (min-height: 100dvh) {
    #root {
        min-height: 100dvh; /* dynamic viewport height for mobile */
    }
}
